body {
	background: url("background.png") no-repeat fixed center;
  }

#dollars-logo {
	margin-left: 250px;
}

.#map {
	
  }

#welcome{
	position: absolute;
    top: 267px;
    left: 65px;
  }

#free-raffle{
	position: absolute;
	top: 320px;
	left: 295px;
}

#profile {
	position: absolute;
  top: 475px;
  left: 135px;
}

#business{
  position: absolute;
  top: 470px;
  left: 310px;
}

#sponsors {
  position: absolute;
  top: 700px;
  left: 165px;
}

#event {
  position: absolute;
  top: 850px;
  left: 355px;
}

#raffle{
  position: absolute;
  top: 870px;
  left: 90px;
}

#whale{
  position: absolute;
  top: 1060px;
  left: 220px;
}

#compass {
  position: absolute;
  top: 1010px;
  left: 370px; 
}