.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 50%;
}

#map {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}
	
p {
	
	position: relative;
	font-family: "Bebas Neue";
}

#error-404 {
	top: 10%;
	width: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 60px;
}

#error{
	top: 40%;
	width: 100%;
	text-align: center;
	font-weight: 700;
}