
.title {
    color:var(--primary-font);
    text-align: left;
    border-left:5px solid var(--primary-font);
    padding-left:10%;
    height: 100%;
}
.doublon-counter {
    border-right: 3px solid var(--primary-font);
}
.doublon-counter-text {
    font-family:'Bebas Neue',Arial,sans-serif;
    color: blue;
    line-height: .85;
    text-align: center;
}

.doublon-counter-span {
    font-size: 4rem;
}

.raffle-list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap:5px;
}


.main-page {
    background-image: url('./../assets/back-map.png');
    background-size:cover;
    background-repeat: no-repeat;
    height:88vh;
    width:71vw;
}

.doublon-counter {
    border:none;
    font-family: 'Bebas Neue',Arial,sans-serif;
    color:var(--primary-font);
}

.doublon-counter-span {
    font-size: 4em;
}

.prizes {
    width:45%;
    height:45%;
    border:.5em solid rgba(146, 108, 108, 0.308);
    padding:.5em;
}

.prize-container {
    display:grid;
    grid-template-rows: repeat(2,50%);
    grid-template-columns: repeat(4,20%);
    margin-left:275px;
}

.main-page {
    margin-top:2%;
    padding-top:8%;
    margin-left:auto;
    margin-right: auto;
}

.head {
    display: flex;
    height: 15%;
}

.head > img {
    width:20vw;
    height:20vh;
    margin-left:10vw;
}

.total-counter {
    padding-top:3%;
    margin-left:15vw;
}

.counter {
    display:flex;
    justify-content: start;
    align-items: center;
    width:33.33%;
    margin-left: 12vw;
}

.time {
    margin-left:38vw;

}

.footer {
    background-color: #ec268f;

}
