
.doublon-counter {
    border-right: 3px solid var(--primary-font);
}
.doublon-counter-text {
    font-family:'Bebas Neue',Arial,sans-serif;
    color: blue;
    line-height: .85;
    text-align: center;
}

.doublon-counter-span {
    font-size: 4rem;
}

.raffle-list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap:5px;
}


.main-page {
    background-image: url('./../assets/back-map.png');
    background-size:cover;
    background-repeat: no-repeat;
    height:88vh;
    width:71vw;
}

.doublon-counter {
    border:none;
    font-family: 'Bebas Neue',Arial,sans-serif;
    color:var(--primary-font);
}

.doublon-counter-span {
    font-size: 4em;
}
