.doublon-counter-text {
    font-family: 'Bebas Neue', Arial, sans-serif;
    color: var(--primary-font);
    line-height: 0.85;
}

.doublon-counter-span {
    font-size: 4rem;
}

.business-list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    row-gap: 5px;
}

.video-description {
    font-family: 'Corbel', Arial, sans-serif;
    color: var(--primary-font);
    line-height: 0.85;
    word-spacing: 5px;
    font-size: x-large;
    font-weight: lighter;
    text-align: justify;
}

.video {
    width: 100%;
    height: 100%;
}

.title {
    font-size: x-large;
}

.form-title {
    font-size: 1.5rem;
}